html,
body {
	background: $bg;
	color: $text;

	font-family: 'Lato';
	font-size: 10px;
}

body {
	font-size: 1.8rem;
}

.infos {
	font-size: 1.4rem;
	color: $infos;
}

input {
	color: $text;
}

// .icon {
// 	aspect-ratio: 1;
// 	width: 18px;
// 	height: 18px;
// }
